.ltr_grid-container {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr 0.5fr 1.5fr;
  grid-template-rows: 1.5fr 1.6fr 0.1fr;
  grid-template-areas: "1 3 3 3" "2 4 4 4" ". . . .";
}

.ltr_1 { grid-area: 1; }

.ltr_2 { grid-area: 2; }

.ltr_3 { grid-area: 3; }

.ltr_4 { grid-area: 4; }
